# Flutter/Dart
.dart_tool/
.pub/
.build/
/ios/
/android/
/build/
/pubspec.lock

# IDE
.idea/
.vscode/
*.iml
*.iws

# OS
.DS_Store
Thumbs.db

# Logs
*.log

.agents/rules
#android/app/google-services.json

.flutter-plugins-dependencies

.env
gradle_signing_report.txt